<html lang="en">
    <%- include("./resources/head.ejs") %>
<body>
    <%- include("./resources/nav.ejs") %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p class="blogBody"><%= blog.body %></p>
        </div>
        
    </div>

    

    <%- include("./resources/footer.ejs") %>

</body>
</html>